<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>demo</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <div id="result" class="container justify-content-md-center">
      <div class="row" ><a href="/index.html" style="padding: 10px">佛经检索(V0.1)</a></div>
      <div class="row">
        <div class="col">检索结果，总共{{totalNum}}条相关记录:</div>
      </div>
      <!-- search result -->
      <div v-for="item in items" style="margin: 20px 0px 15px;padding-left: 10px;">
        <div class="row" style="border-left-color: #117a8b;border-left-width: 3px;border-left-style: solid">
          <div class="col">
            <a href="#" v-on:click="detail(item.id)" v-if="item.rollName!=''">{{ item.rollName }}</a>
            <a href="#" v-on:click="detail(item.id)" v-else>卷名称缺失</a>
          </div>
        </div>
        <div class="row" style="font-size: 12px;font-style: italic;">
          <div class="col">经：{{ item.name }}</div>
          <div class="col">朝代：{{ item.dynasty }}</div>
          <div class="col">译者：{{ item.translator }}</div>
        </div>
        <div class="row" style="font-size: 12px;">
          <div class="col">前言：{{ item.preface }}</div>
        </div>
        <div class="row" style="font-size: 12px;">
          <div class="col">正文：{{ item.rollText }}</div>
        </div>
      </div>
      <!-- page -->
      <div class="row justify-content-md-center">
        <nav v-if="curPage<=5">
          <ul class="pagination">
            <li class="page-item active" v-if="curPage==1"><a class="page-link" href="#">1</a></li>
            <li v-on:click="pageJump(1)" class="page-item" v-else><a class="page-link" href="#">1</a></li>
            <li class="page-item active" v-if="curPage==2"><a class="page-link" href="#">2</a></li>
            <li v-on:click="pageJump(2)" class="page-item" v-else><a class="page-link" href="#">2</a></li>
            <li class="page-item active" v-if="curPage==3"><a class="page-link" href="#">3</a></li>
            <li v-on:click="pageJump(3)" class="page-item" v-else><a class="page-link" href="#">3</a></li>
            <li class="page-item active" v-if="curPage==4"><a class="page-link" href="#">4</a></li>
            <li v-on:click="pageJump(4)" class="page-item" v-else><a class="page-link" href="#">4</a></li>
            <li class="page-item active" v-if="curPage==5"><a class="page-link" href="#">5</a></li>
            <li v-on:click="pageJump(5)" class="page-item" v-else><a class="page-link" href="#">5</a></li>
            <li v-on:click="pageJump(curPage+1)" class="page-item"><a class="page-link" href="#">下一页</a></li>
          </ul>
        </nav>
        <nav v-else>
          <ul class="pagination">
            <li class="page-item" v-on:click="pageJump(1)"><a class="page-link" href="#">首页</a></li>
            <li class="page-item" v-on:click="pageJump(curPage-1)"><a class="page-link" href="#">上一页</a></li>
            <li class="page-item" v-on:click="pageJump(curPage-2)"><a class="page-link" href="#">{{curPage-2}}</a></li>
            <li class="page-item" v-on:click="pageJump(curPage-1)"><a class="page-link" href="#">{{curPage-1}}</a></li>
            <li class="page-item active"><a class="page-link" href="#">{{curPage}}</a></li>
            <li class="page-item" v-on:click="pageJump(curPage+1)" v-if="curPage+1<=totalPage"><a class="page-link" href="#">{{curPage+1}}</a></li>
            <li class="page-item" v-on:click="pageJump(curPage+2)" v-if="curPage+2<=totalPage"><a class="page-link" href="#">{{curPage+2}}</a></li>
            <li class="page-item" v-on:click="pageJump(curPage+1)" v-if="curPage+1<=totalPage"><a class="page-link" href="#">下一页</a></li>
            <li class="page-item" v-on:click="pageJump(totalPage)"><a class="page-link" href="#">尾页</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var searchResult;
     $(function(){
        var url = "/api/search";
        var query = getQueryString('query');
        var curPage = getQueryString('page');
        $.ajax({
          type: "POST",
          url: url,
          data: {'query':query, 'page':curPage},
          success: function(result,status,xhr) {
            searchResult = new Vue({
              el: '#result',
              data: {
                items: result.result,
                totalNum: result.totalNum,
                curPage: result.curPage,
                totalPage: result.totalPage
              },
              methods: {
                detail: function(id) {
                  window.location.href = "/detail.html?id=" + id;
                },
                pageJump: function(page) {
                  window.location.href = "/search.html?page=" + page + "&query=" + query;
                }
              }
            })
          },
          dataType: 'json'
        });
      });
      function getQueryString(name) { 
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
        var r = window.location.search.substr(1).match(reg); 
        if (r != null) return r[2]; 
        return null; 
      }
  </script>
</html>